.dropdown_btn {
  border: 0.1em solid rgb(77, 77, 77);
  border-radius: 0.2em;
  font-weight: 700;
  @apply flex py-[5px] px-[10px] text-[15px] md:text-[16px] lg:px-[18px] lg:py-[9px] lg:text-[17px] items-center min-w-[4em] relative  bg-[rgb(36,36,36)]  text-white cursor-pointer;
}

.dropdown_btn::after {
  content: '';
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.4em solid rgb(255, 255, 255);
  transition: transform 0.2s linear 0s;
  margin-left: 2em;
  transform: none;
}

.dropdown_active::after {
  content: '';
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.4em solid rgb(255, 255, 255);
  transition: transform 0.2s linear 0s;
  margin-left: 2em;
  transform: rotate(180deg);
}

.dropdown_menu {
  list-style-type: none;
  border: 0.1em solid rgb(77, 77, 77);
  margin-top: 0.1em;
  font-size: 14px;
  z-index: 1;
  background-color: rgb(36, 36, 36);
  white-space: nowrap;
  column-gap: 1.8em;
  max-height: max(10em, 437.984px - 2rem);
  overflow: auto;
  padding: 1rem 0px;
  font-weight: 700;
  transition: all 0.3s ease;
  transform: translateY(-3em);
  visibility: hidden;
  opacity: 0;
  @apply md:text-[16px] lg:text-[18px] min-w-[4em] absolute right-0 cursor-pointer text-white;
}

.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown_item {
  min-width: 4em;
  padding: 0.5em 0.8em;
  display: block;
  break-inside: avoid;
}

.dropdown_item:hover {
  background-color: rgb(66, 66, 66);
}
